*,html{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
}
header .contenedor{
/*    border: 1px solid black;*/
    width: 100%;
    height: 10vh;
    background: #b71c1c;
    display: inline-block;
}

.disabled a{
    pointer-events: none;
    cursor: default;
    background: gray !important;
}

.logo{
/*    border: 1px solid green;*/
    width: auto;
    margin-left: 5%;
    margin-top: .5%;
}
.logo.izquierda p a{
    font-family: Oswald;
    text-decoration: none;
    color: #fff;
    margin-left: 15%;
    font-size: 2em;
}

.derecha{
    margin-left: 70%;
    margin-top: -3%;
    width: 25%;
}

.derecha form{
    width: 60%;
}
.derecha input[type="text"]{
    background: #b71c1c;
    border: 1px solid #fff;
    height: 5vh;
    font-family: Open Sans;
    padding-left: 5px;
    color: #fff;
}

.derecha button{
    background: #b71c1c;
    border: none;
    color: #fff;
    cursor: pointer;
}
nav.menu{
    width: 40%;
    float: right;
    margin-top: -10%;
}

nav.menu ul{
    list-style: none;
}

nav.menu ul li{
    display: inline-block;
    margin-left: 15px;
}
nav.menu ul li a{
    color: #fff;
}

.post{
    width: 80%;
    height: auto;
    margin-top: 10px;
    margin-left: 10%;;
    background: #fff;
    padding: 15px;
    box-shadow: 6px 6px 9px 6px rgba(0, 0, 0, 0.45);
}

.post article h2{
    font-family: Oswald;
    font-size: 2em;
}

.post article p.fecha{
    font-family: Open Sans;
    color: gray;
}

.post article a img{
    width: 100%;
    height: 27vh;
    margin-top: 15px;
}


.post article p .extracto{
    font-family: Open Sans;
}

articel .thumb{
    margin-top: 20px;
}


.post article a{
    text-decoration: none;
    color: #e53935;
    font-size: 1.2em;
}

.titulo a{
    color: #000 !important;
    text-decoration: underline;
}


/*paginacion*/
.paginacion {
	margin:20px 0;
}
 
.paginacion ul {
	list-style:none;
	text-align: center;
}
 
.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}
 
.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}
 
.paginacion ul li a:hover {
	background:#037E8C;
}
 
.paginacion ul li.active {
	background:#037E8C;
	font-weight:bold;
    padding:10px 20px;
}